%div{style: 'display: table; position: absolute; height: 70%; width: 100%'}
  %div{style: 'display: table-cell; vertical-align: middle'}
    %div{style: 'margin-left: auto; margin-right: auto; width: 600px'}
      %h1 Coming Soon™