// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.details {
  background-color: #e7e7e8;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  opacity: 1;
  &.details-invisible {
    opacity: 0;
  }
  &.details-display-none {
    opacity: 0;
    display: none;
  }

  td {
    border-top: 0 !important;
    padding-top: 0 !important;
  }

  .details-table {
    td {
      border-top-width: 0;
      padding-top: 0;
    }
  }
}

.summary {
  &.summary-invisible {
    display: none;
  }
}

#side-menu {
  background-color: #e7e7e8;
}

.checkbox-inline input[type="checkbox"] {
  margin-left: -15px;
}

input, textarea, select, .uneditable-input {
  width: auto;
}

.menu-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-width: 0;
  &.btn.btn-default {
    background: #e7e7e8;
    &:hover {
      background: -webkit-linear-gradient(left, #e7e7e8, #d3d3d5);
      background: -o-linear-gradient(right, #e7e7e8, #d3d3d5);
      background: -moz-linear-gradient(right, #e7e7e8, #d3d3d5);
      background: linear-gradient(to right, #e7e7e8, #d3d3d5);
    }
  }
}

th, td.expand {
  cursor: pointer;
}

.glyphicon-ok {
  color: #0b0;
}

.glyphicon-remove {
  color: #b00;
}

.glyph-grey {
  color: #bbb;
}

#cover {
  background: url("49.gif") no-repeat scroll center center #e7e7e8;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
}
