.alert.center.save-update-message#save-update-success-message{style: 'margin-top: 15px; display: none', class: bootstrap_class_for(:success)}
  %button.close{'data-hide': 'alert'} ×
  %span Successfully saved your spell list.

.alert.center.save-update-message#save-update-fail-message{style: 'margin-top: 15px; display: none', class: bootstrap_class_for(:error)}
  %button.close{'data-hide': 'alert'} ×
  %span Failed to save your spell list.